###
#  add (web) local cache and tmp and o(utput) dirs
cache/
cache2/
cache_v0/
tmp/
tmp2/
tmp3/
tmp-curdom/
tmp-curtour/
tmp-fmtfix/
tmp-*/
o/

## ignore generated pages
site/
_site/

###
## ignore sqlite dbs
*.db

#########
### ignore logs and errors
logs.txt
logs.2.txt
logs.3.txt
logs.4.txt
logs.5.txt
logs.old.txt
logs.html
error.txt
error.html
mirror-logs.txt
mirror_logs.txt
